body {
    font-family: Arial, sans-serif; /* Set default font */
    width: 300px; /* Set popup width */
    margin: 0; /* Remove default margin */
    padding: 10px; /* Set internal padding */
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Align vertically */
    align-items: center; /* Center alignment */
}

#status {
    margin-bottom: 20px; /* Set bottom margin */
}

button {
    padding: 10px 20px; /* Set button internal padding */
    font-size: 16px; /* Set button font size */
    cursor: pointer; /* Change cursor shape */
    width: 100%; /* Set button width to 100% */
}